body{
    background-color: rgb(0, 0, 0);
    
}

    

#header-nav{
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 0;
    height: 100px;
  
}
#navbarelements{
    margin-top: 15px;
    color: rgb(238, 238, 238);
    font-size: large;
}
#logo-img{
    height: 400px;
    background-color: aliceblue;
}

#navbarelements a{
    margin-top: 10px;
    color: rgb(238, 238, 238);
    font-size: large;
}


nav{
    color: rgb(238, 238, 238);
}

#content{
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 100px;
    height: 800px;
    padding: 0;
    margin: 0;
}
#pagecontent{
    position: relative;
    top: 200px;
    margin: 50px auto 10px;
    font-weight: bold;
    color: rgb(248, 248, 248);
    background-color: black;
    opacity: 0.9;
    padding: 10px;
    width: 70%;
    border-radius: 50px;
}
.inputemail{
    width: 300px;
    display: block;
    margin: auto;
    color: rgb(0, 0, 0);
}
.getstarted{
    margin: auto;
}

#getstarted{
    margin-top: 10px;
    background-color: rgb(0, 213, 228);
    border-radius: 0;
    border: 0;
    color: black;
    font-weight: bold;
}


#collapsable-nav{
    position: relative;
    top: 100px;
    background-color: rgb(0, 213, 228);
}

#nav-list, #nav-list2 a{
    color: aliceblue;
    font-weight: bold;
    text-align: center;
}

#nav-list a:hover{
    background-color: rgb(0, 213, 228) ;
    border-radius: 50px;
}
#nav-list2 a:hover{
    background-color: rgb(5, 5, 5);
    border-radius: 50px;
}

.homeheader{
    color: rgb(0, 213, 228);
    font-weight: bold ;
}

#sec2{
    background-color:rgb(0, 0, 0);
    height: 500px;
}


#pagecontent2{
    height: 200px;
    background-color: red;
}



@media (max-width:767px){
    
    #content{
    background-image: url("../images/background-768px.png");
    background-size: 150%;
    background-repeat: no-repeat;
    position: relative;
    top: 100px;

    height: 800px;
    }

    .homeheader{
        font-size: 1.5em;
    }
    .inputemail{
        width: 15em;
    }


    #pagecontent{
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
    padding: 10px;
    width: 100%;
    border-radius: 50px;
    margin: 0;
}
}

@media (max-width: 1049px){
    #content{
        background-size: 110%;
    }
    #pagecontent2{
        height: 200px;
        background-color: rgb(143, 94, 94);
    }
}