body{
    background-color: rgb(10, 10, 10);
}

nav{
    color: aliceblue;
    font-weight: bold;
    
    background-color: rgb(0, 89, 255);
    height: 100px; 
}
div.companyname{
    margin-top: 30px;
    margin-left:30px;
    font-size: 30px;
}
.s1{
    position: relative;
    top: 110px
}

h1{
    color: aliceblue;
    font-weight: bolder;
}
.main-content{
    padding: 20px;
    color: aliceblue;
    background-color: rgb(0, 56, 102);
}